/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.text-icon  .fl-module-content .storename li .address::before{
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}
.fl-page{
	width: auto;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1{
    text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p{
    display:inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a{
    width: 200px; 
}
div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('https://assuredflooring.ca/wp-content/uploads/2020/01/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before{
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a span:before{
    font-size: 18px !important;
    margin-right: 14px;
}
footer .storename li .phone a span{
    font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #fff;
}
footer .storename{
    padding-left: 10px !important;
}
footer .fa-phone-alt{
    display: none;
}
.fl-module-content .storename li .address a{
    color:#b7702f;
}
.fl-module-content .storename li .address a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .message a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs li{
padding: 10px 50% 10px 10px;
list-style: none;
}
div.text,
div.number{
    display: inline-block;
}
ul.social-icons {
    text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px !important;
}
footer .storename li .phone a:before{
    content: " ";
    display: none;
}
.footermenu li.menu-item a{
    font-size: 14px;
    line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before{
    font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn{
  transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover{
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before{
    font-size: 1em;
}
.gform_footer.top_label input {
    padding: 12px 24px;
}
.gfield_captcha_input_container.math_medium {
    margin: 10px 0 0;
}
.gform_footer.top_label {
    text-align: left;
}
.max-width-400-issue .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor p {
    margin: 0;
    padding: 0;
}

.room-button img.litespeed-loaded {
    opacity: 0.8;
}
.room-button img.litespeed-loaded:hover {
    opacity: 1;
}
.flooring-coupon-form label a:hover {
    color: #ef5148 !important;
}
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    top: auto;
    right: 0px;
    left: 0px;
    padding: 0 20px;
}
.custom_searchHeader i {
    cursor: pointer;
}


.facet_filters strong {
    color: #000000; 
}
.facet_filters .facet-wrap>strong {
    padding-bottom: 3px;
    border-bottom: 2px solid #000000;
}

a.button.alt.getcoupon-btn {
    max-width: 90%;
    margin: 10px auto;
}
/* Blog */
body.blog .fl-sidebar {
    display: block;
}
/* Blog */

.header-add .fl-rich-text > p {
    margin: 0;
}
.blog .fl-post-header h1.fl-post-title {
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: 0px;
}
footer ul.storename .phone a:hover span, footer ul.social-icons a:hover, footer .footer-heading a:hover, footer ul.storename .address a:hover p{
    color: #7A6769 !important;
}
.flooring-coupon-form .gfield_description.validation_message.gfield_validation_message, .flooring-coupon-form  .instruction.validation_message {
    color: #333!important;
}

@media (min-width:1025px){

    .fl-slide {
        max-height: 670px;
    }

}

@media (min-width:769px) and (max-width:1024px){
    .footer-heading h3.fl-heading, .footer-heading .fl-rich-text p a{
        font-size: 12px !important;
    }
    .header-btn a.fl-button {
        padding: 12px 10px;
    }
    .paragraphCustom {
        padding: 0 20px;
    }
    .form-row-issue .fl-col-group .fl-col {
        width: 100%;
    }
    .form-row-issue .fl-col-group .fl-col .fl-module-content.fl-node-content{
        margin-top: 0;
    }
    .form-row-issue .fl-col-group .fl-col:last-child .fl-col-content.fl-node-content {
        margin: 0;
    }
    .form-row-issue div#backgrondimage {
        text-align: center;
    }
}
@media (max-width:1024px){
	.locationCol .fl-col-content{
		padding: 0px 20px!important;	
	}
    .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed{
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box{
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before{
        margin-right: 5px !important;
    }
    .max-width-400-issue .img-740 img {
        min-height: 100% !important;
        min-width: 100% !important;
    }

}


@media (max-width:768px){
	
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
	.fl-row-content-wrap {
		/* text-align: center; */
	}
	.fl-fade-in.fl-animated p{
		text-align: center !important;
	}
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small{
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small{
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content{
        margin: 0px 10px;
    } 
    footer .fl-icon-text{
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span{
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width  .fl-col-group-equal-height{
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100{
        width: 100%;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-400-issue .fl-col.fl-col-small.fl-col-has-cols{
        max-width: 100% !important;
        width: 100%;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-400-issue .fl-col.fl-col-small {
        max-width: 100% !important;
        width: 100%;
    }
    .max-width-400-issue .fl-col {
        max-width: 100% !important;
        width: 100%;
    }
    .header-banner .fl-col-content.fl-node-content {
        padding: 20px;
    }
    .max-width-issue > .fl-col-content.fl-node-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li{
        display: block;
    }
    .gform_wrapper .gfield_time_hour i{
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename{
        padding-left: 0 !important;
    }
    /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
	.max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 0px;
    padding-right: 0px;
    }
    .HeaderLocationAndPhone .menu > li {
        display: block !important;
        text-align: center;
    }
    .HeaderLocationAndPhone .menu li a span.dash {
       display: none;
    }
    .HeaderLocationAndPhone .menu > li:first-child {
        display: none !important;
    }
    .HeaderLocationAndPhone .menu li a {
        padding: 7px 20px;
    }
    .gform_body.gform-body {
        text-align: left;
    }
    ul.store-opening-hrs {
        padding: 0;
    }
    .fl-slide.fl-slide-1.fl-slide-text-left .fl-slide-content {
        padding: 20px;
    }
    .featured-products .featured-product-list .featured-product-item {
        width: 33.33%;
    }
    .featured-products .featured-product-list .featured-product-item .prod-img-wrap {
        justify-content: center;
    }
    .featured-products .featured-product-list .featured-product-item  .product-info {
        text-align: center;
    }

}
@media (max-width:767px){
    .footer-menu .fl-col-small{
        width: 100% !important;
    }

    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
    .featured-products .featured-product-list .featured-product-item {
        width: 50%;
    }

}


@media screen and (max-width: 700px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
}

@media screen and (max-width: 630px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
}

@media screen and (max-width: 600px){

    ul#menu-copyright-bar-menu{
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        height: 335px;
        margin-bottom: 20px;
    }
    .fl-builder-content div.our-services{
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
}
@media screen and (max-width: 480px){
    .header-banner a.uabb-button {
        font-size: 15px;
    }
    a.fl-button.financeSync {
        margin: 0 auto;
        text-align: center;
        display: block;
        width: 180px;
    }
    .consultaionbtn a.uabb-button {
        padding: 12px 18px;
        font-size: 14px !important;
    }
    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(10rem + 20px) !important;
        height: 60px;
    }
    .product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a>img{
        max-height: 240px !important;
    }
    .row.search-row a.getcoupon-btn {
        display: block;
        margin-top: 10px;
    }
    .row.search-row  .product-grid .fl-post-grid-post {
        margin-bottom: 20px;
    }
    .featured-products .featured-product-list .featured-product-item {
        width: 100%;
    }

}
@media screen and (max-width: 410px){
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 11px;
    }
}
@media screen and (max-width: 378px){

    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 10px;
    }
    a.uabb-button{
        font-size: 16px !important;
    }
}
@media screen and (max-width: 374px){
    button#responsive-menu-button.responsive-menu-accessible{
        top: 10px;
    }
    .fl-page-bar{
       display: none;
    }
}